@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">List of Blogs</h1>
        <h2 class="lead">Here we are at Blog Tracker Application </h2>
       
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
              <div class="card" style="width: 18rem;">
                
                <img src="~/Images/pexels-nathan-engel-436413.jpg"class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Theater</h5>
                    <p class="card-text">Discovering new ways to cultivate creativity daily, unlocking potential, and embracing growth with passion, purpose, and perseverance. Join the journey!</p>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=301865" class="btn btn-primary">Click Here</a>
                </div>
</section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <div class="card" style="width: 18rem;">
                
                <img src="~/Images/pexels-lucas-pezeta-2398354.jpg"class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Books</h5>
                    <p class="card-text">Discovering new ways to cultivate creativity daily, unlocking potential, and embracing growth with passion, purpose, and perseverance. Join the journey!</p>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=301865" class="btn btn-primary">Click Here</a>
                </div>
</section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/pexels-henry-&-co-3137890.jpg" class="card-img-top" alt="..."/>
                
                <div class="card-body">
                    <h5 class="card-title">Movies</h5>
                    <p class="card-text">Discovering new ways to cultivate creativity daily, unlocking potential, and embracing growth with passion, purpose, and perseverance. Join the journey!</p>
                    <a href="https://go.microsoft.com/fwlink/?LinkId=301865" class="btn btn-primary">Click Here</a>
                </div>
        </section>

        </div>
    </div>
</main>